# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Eclipse and IntelliJ files
.project
app/.project
app/.classpath
app/.settings
app/bin
.idea/
.settings/
